2captcha-python==1.0.3
beautifulsoup4==4.7.1
bs4==0.0.1
certifi==2020.12.5
chardet==3.0.4
chromedriver-py==89.0.4389.23
click==7.1.2
colorama==0.4.3
configparser==5.0.2
crayons==0.4.0
idna==2.10
Js2Py==0.70
lxml==4.6.2
pycryptodomex==3.10.1
pyjsparser==2.7.1
PyQt5==5.15.2
pyqt5-plugins==5.15.2.2.0.1
PyQt5-sip==12.8.1
pyqt5-tools==5.15.2.3
python-dotenv==0.15.0
pytz==2021.1
qt5-applications==5.15.2.2.1
qt5-tools==5.15.2.1.0.1
requests==2.23.0
selenium==3.141.0
six==1.15.0
soupsieve==2.1
termcolor==1.1.0
tzlocal==2.1
urllib3==1.25.11
webdriver-manager==3.3.0
